* {
  /* 모든 태그에 대하여 margin, padding값 없애줌*/
  margin: 0;
  padding: 0;
}

#header {
  height: 64px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
}

#body {
  height: 100vh; /* vh: 윈도우 높이를 기준으로 하는 높이 단위 , vw: 윈도우 넓이를 기준으로 하는 넓이 단위*/
  width: 1024px;
  margin: 0 auto; /*자식이 부모를 기준으로 가운데 정렬을 시킬 때 이 코드를 사용*/
  padding-bottom: 24px;
}

#footer {
  height: 200px;
  background-color: rgb(230, 230, 230);
}

#banner {
  height: 300px;
  background-color: yellow;
}

#header-area {
  width: 1024px;
  height: 100%;
  display: flex;
  align-items: center;
}

#header-area > img {
  width: 128px;
  height: 36px;
}

#banner > img {
  width: 100%;
  height: 300px;
}

#body > h1 {
  margin-top: 16px;
}

#product-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
}

.product-card {
  width: 180px;
  height: 300px;
  margin-right: 12px;
  margin-bottom: 12px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 12px;
  overflow: hidden;
}

.product-img {
  width: 100%;
  height: 210px;
}

.product-contents {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.product-name {
  font-size: 14px;
}

.product-price {
  font-size: 16px;
  font-weight: 600;
  margin-top: 4px;
}

.product-seller {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.product-avatar {
  width: 24px; /*보통 width만 주면 비율에 맞추어서 height도 조정이 된다.*/
}

.product-link {
  color: inherit; /*색상을 원래 색상 가지도록*/
  text-decoration: none; /*텍스트의 밑줄 사라지게 함*/
}
